body {
    background-color: rgb(179, 221, 179);
}

h1 {
    text-align: center;
    font-size: 65px;
    font-weight: 550px;
    border: 3ch;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: rgb(210, 243, 210);
    overflow: hidden;
    border-radius: 15px;
    padding: 1rem;
    align-items: center;
    display: inline-grid;
    justify-content: center;
    margin: 1rem 2rem;
    width: 15rem;
    height: 26rem;
}

.card, .name{
    color: rgb(0, 0, 0);
    margin: 20px 10px 0 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.card .img{
    height: 9rem;
    width: auto;
    justify-self: center;
}

#book-form {
    margin: 1rem 0;
    flex-direction: column;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 25px;
}

.add-new-book {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

input,
  textarea {
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 0.30rem 0;
    width: 150%;
    border: 3px solid rgb(141, 196, 124);
    background-color: white;
  }

input[type="submit"] {
    color: rgb(223, 238, 220);
    background-color: rgb(2, 36, 19);
 }  
